RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.OBJ
*.so
*.exe
*.EXE
*.Z
*.elc
*.ln
core
*.~*
*.dll
*.pdb
*.lib
buildinfo.inf
*.cache
*.Cache
*.projdata*
*.dcu
*.bpl
*.tlb
*.log
*.ncb
*.ilk
*.exp
.DS_Store
build.force
service.lck
log/
Log/
debug/
Debug/
release/
Release/
temp/
Temp/
temppe/
TempPE/
bin/
Bin/
obj/
Obj/
foxuser.*
FOXUSER.*
*.fpt
*.fxp
*.err
*.app
*.FPT
*.FXP
*.ERR
*.APP
Thumbs.db
*.ddp
do.sql
log/
bin/
.metadata/
*.bar
*.war
*.ear
*.class
GeneratedBarFiles/
RemoteSystemsTempFiles/
.mtj.tmp/
hs_err_pid*

#libj ignores
test/
/lib/xdocreport-1.0.4.jar
